.tbl-container {
  max-width: fit-content;
  max-height: fit-content;
}
.tbl-fixed {
  overflow-x: scroll;
  overflow-y: scroll;
  height: fit-content;
  max-height: 100vh;
  width: fit-content;
  max-width: 1000px;
}
@media screen and (max-width: 480px) {
  .tbl-fixed {
    width: fit-content;
    max-width: 350px;
  }
}
/* .brand1{
  padding: 50px;
} */
table,
th,
td {
  border: 1px solid;
  /* width: 40px; */
}
th {
  /* width: 50px!important; */
  padding: 5px 35px 5px 35px;
  border-bottom: 2px solid #8080804d;
}
.tbdy {
  font-size: 12px;
  text-align: center;
}
.thd {
  font-size: 13px;
  text-align: center;
  background-color: #398585;
  color: white;
  padding: 0px;
}
td {
  padding: 12px 0px 12px 0px;
  border-top: 2px solid #8080804d;
  border-bottom: 2px solid #8080804d;
  border-right: 2px solid #8080804d;
  border-left: 2px solid #8080804d;
}